$rubik: Rubik, sans-serif;
$background: rgb(13, 19, 35);
$blue: hsl(246, 80%, 60%);
$white: rgb(255, 255, 255);
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

//activity cards background color
$work: rgb(255, 140, 102);

