$rubik: Rubik, sans-serif;
$background: rgb(13, 19, 35);
$blue: hsl(246, 80%, 60%);
$white: rgb(255, 255, 255);
$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);

//activity cards background color
$work: rgb(255, 140, 102);
$play:rgb(86, 193, 229);
$study: rgb(255, 91, 124);
$exercise:rgb(73, 206, 169);
$social:rgb(116, 54, 210);
$self-care:rgb(240, 196, 86);
