@import "./variables";

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 375px;
    background-color: $veryDarkBlue;
}
// Селектор применяется ко всем элементам 
* {
    border: 0; // Граница
    padding: 0; // Внутренние отступы
    margin: 0; // Внешние отступы
    box-sizing: border-box; //Ширина и высота элемента включают границы и отступы
}

.header-cart {

    display: flex;
    flex-wrap: wrap;
    width: 327px;
    height: 203px;
    flex-direction: row;
    
    align-items: flex-start;
    border-radius: 14px;
    background-color: $darkBlue;
    
    font-family: $rubik;
    color: white;
    
    
    .image-container {
        display: flex;
        flex: 1;
        
        justify-content: center;
        flex-direction: row;
        flex-direction: row;
        align-items: center;
        background-color: $blue;
        border-radius: 14px;
        height: 133px;
        gap: 21px;
        
        img {
            
            border: 2px solid white;
            border-radius: 50%;
            width: 66px; 
            height: 66px;
        }

        header {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            background-color: $blue;    
            border-radius: 14px;
            font-size: 24px;
            h1 {
                font-size: 15px;  
            }
            
            h2 {
                font-size: 24px;
            }
        }

    }
    
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        button {
            background-color: $darkBlue;
            font-family:$rubik;
            font-size: 18px;
            color: $desaturatedBlue;
            cursor: pointer;
            &:hover {
                color: white;
            }
        }
    }
 
}

.activity-card {
    display: flex;
    width: 327px;
    height: 160px;
}

